@import "config";

.home {
  display: flex;
  flex-direction: row;

  .chat-list {
    background: $bg-gray-light;
    height: 100vh;
    padding: 0.5rem 1rem;
    width: 400px;

    .search-bar {
      margin: 1rem 0;

      input {
        padding: 0.5rem 1rem;
        border: none;
        width: 100%;
        border-radius: 5px;
      }

      input:focus {
        outline: none;
      }
    }
  }

  .chat {
    display: flex;
    flex-direction: column;
    width: 100%;

    .chat-input,
    .chat-header {
      height: 4rem;
      display: flex;
      align-items: center;
      padding: 0 1rem;
    }

    .chat-main {
      height: calc(100vh - 8rem);
    }
  }
}

@media (min-width: 1200px) {
  .chat-list {
    width: 320px;
  }
}
