@import "config";

.home {

    .chat-list {
        float: left;
        background: $bg-gray-light;
        height: 100vh;
        padding: 0.5rem 1rem;

        .search-bar {
            margin: 1rem 0;

            input {

                padding: 0.5rem 1rem;
                border: none;
                width: calc(100% - 2rem);
                border-radius: 5px;
            }

            input:focus {
                outline: none;
            }
        }
    }

    .chat {
        display: flex;


        .chat-main {
            display: block;
            width: 100vh;

            &-header {
                padding: 0.5rem 1rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        .side-menu {
            background: $bg-gray-light;
            height: 100vh;
            padding: 0.5rem 1rem;  
        }
    }
}



@media (min-width: 1200px) {
    .chat-list {
        width: 320px;
    }

    .side-menu {
        width: 320px;
    }
}